.digits {
  max-width: 690px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  .digits {
    max-width: 720px;
  }
}
