.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
}

@media (max-width: 1024px) {
  .content__photo-grid {
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .content__photo-grid {
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .content__photo-grid {
    gap: 12px;
  }
}
