.cards__paragraph {
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 1.63;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 26px;
}

.cards__paragraph:last-of-type {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .cards__paragraph {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .cards__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}
