.content__intro {
  margin: 0 auto;
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .content__intro {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 768px) {
  .content__intro {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .content__intro {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 64px;
  }
}
